.header {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-between;
}
.wrapper {
   display: flex;
   align-items: center;
}
.logo {
   margin-right: 20px;
   svg {
      width: 65px;
      height: 65px;
   }
}
.title {
   font-weight: 700;
   font-size: 25px;
   line-height: 30px;
   text-transform: uppercase;
   color: #4793ff;
}
.change_theme {
   cursor: pointer;
   svg {
      height: 23px;
      width: 27px;
      margin-right: 25px;
   }
}
